<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GroupDesk - The Student's Way To Collaborate</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <link href="/views/assets/styles_home.css" rel="stylesheet">
  </head>
  <body>
  	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" style="font-family: 'Lobster', cursive;text-spacing:2px;">GroupDesk</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/login" style="font-weight:bold;font-size:20px !important;background:rgba(255,255,255,0.5); border-radius:2px; padding-right:10px;line-height:20px;padding-left:10px;color:rgba(255,255,255,0.9);">Log In</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover" style="background: rgba(255,255,255,0.2); padding: 10px; margin-bottom: 20px;">
            <h2 class="cover-heading">GroupDesk helps you manage school projects.</h2><br>
            <p class="lead" style="font-size: 16px;text-align:left">
                Working with other people can be hard. With tardiness, non-accountability, or even just plain laziness, collaboration can be difficult even
                amongst the most organized and sociable of us. GroupDesk was designed to help those who need just a little more organization in small
                projects, both personal and curriculum-based, by providing a set of simple but powerful tools. Live, persistent chat rooms and editors provide
                a level of communication and cooperation normally only possible in person. Task lists and contribution tracking help ensure that everyone
                is doing their part and that those who are not fully participating may be contacted via both email and text.

                For anyone seeking a simple but robust solution to collaboration, look no further than GroupDesk.
                <br>
                <br>
                
                <i>Note: This about page describes the idealistic end-goal of the GroupDesk project; the current project being demoed is not feature complete.</i>
            </p>
          </div>
          
          
           
          <div class="mastfoot">
            <div class="inner">
              <p>GroupDesk &copy; Meltdown Tech 2014. Product of <a href="http://sohacks.com">SOHacks</a>.</p>
            </div>
          </div>

        </div>

      </div>
  </body>
</html>