<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/views/assets/js/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/views/assets/css/firepad.css" />
<link rel="stylesheet" href="/views/assets/css/firepad-userlist.css" />
<link rel="stylesheet" href="/views/assets/css/jquery-ui.min.css" />
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
<script src="/views/assets/js/codemirror/lib/codemirror.js"></script>
<script src="/views/assets/js/firepad.js"></script>
<script src="/views/assets/js/firepad-userlist.js"></script>
<script src="/views/assets/app.js"></script>
