<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GroupDesk - The Student's Way To Collaborate</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <link href="/views/assets/styles_home.css" rel="stylesheet">
    <link rel="canonical" href="http://sohacks-dev0.rhcloud.com">
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1509224432623385&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" style="font-family: 'Lobster', cursive;text-spacing:2px;">GroupDesk</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login" style="font-weight:bold;font-size:20px !important;background:rgba(255,255,255,0.5); border-radius:2px; padding-right:10px;line-height:20px;padding-left:10px;color:rgba(255,255,255,0.9);">Log In</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover" style="background: rgba(255,255,255,0.2); padding: 10px; margin-bottom: 20px;">
            <h1 class="cover-heading">Collaborate on school projects.</h1>
            <p class="lead">Easily manage your school projects. Use chat, file management, and todo lists to get your project done quickly. Avoid procrastination and use GroupDesk. </p>
          </div>
          <div class="inner cover" style="background: rgba(255,255,255,0.2); padding: 10px">
             <h3> Sign Up </h3>
            <hr style="border-color: black;opacity:.2">
            <p class="lead">
               Are you a <a href="/students" class="btn btn-lg btn-default">Student</a>  or a <a href="/teachers" class="btn btn-lg btn-default">Teacher</a> ?
            </p>
          </div>
          
           
          <div class="mastfoot">
            <div class="inner">
              <p>GroupDesk &copy; Meltdown Tech 2014. Product of <a href="http://sohacks.com">SOHacks</a>.</p>


              <div class="g-plusone" data-size="medium"></div>
              <div style="position: relative; bottom: 5px; right: 16px;" class="fb-like" data-href="http://sohacks-dev0.rhcloud.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
              
              <script type="text/javascript">
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>
              
              
              
            </div>
          </div>

        </div>

      </div>
    </div>
  </body>
</html>