<!DOCTYPE html>
<html class="landing">
  <head>
    <meta charset="utf-8">
    <title>GroupDesk - The Student's Way To Collaborate</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <script>
        $(function() {
            $.getJSON( "/api/school", {name: ""}, function( data ) {
                $( "#autoschool" ).autocomplete({
                    source: data,
                    minLength: 5
                });
            });
        });
    </script>
  </head>
  <body>
  	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" style="font-family: 'Lobster', cursive;text-spacing:2px;">GroupDesk</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login" style="font-weight:bold;font-size:20px !important;background:rgba(255,255,255,0.2); border-radius:2px; padding-right:10px;line-height:20px;padding-left:10px;color:rgba(255,255,255,0.9);">Log In</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover" style="background: rgba(255,255,255,0.2); padding: 10px; margin-bottom: 20px;">
            <h2 class="cover-heading">Student Sign Up</h2>
            <hr style="border-color: black;opacity:.2">
            <form class="form-signin" method="GET" action="/api/register" role="form" style="opacity:.8">
              <input type="text" name="first" class="form-control top" placeholder="First Name" required autofocus>
              <input type="text" name="last" class="form-control bottom" placeholder="Last Name" required>
              <input id="autoschool" type="text" name="school"  style="margin-bottom:10px;"class="form-control" placeholder="School" required>
              <input type="email" name="email" class="form-control" placeholder="Email address" required>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <input type="text" name="group" class="form-control" style="margin-bottom:10px;" placeholder="Group Code" required>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>
          </div>
          
          
           
          <div class="mastfoot">
            <div class="inner">
              <p>GroupDesk &copy; Meltdown Tech 2014. Product of <a href="http://sohacks.com">SOHacks</a>.</p>
            </div>
          </div>

        </div>

      </div>
  </body>
</html>