<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GroupDesk</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <link href="/views/assets/styles_students_app.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h3 style="font-family: 'Lobster', cursive;text-spacing:2px;margin-top:-5px">GroupDesk</h3></a>

        </div>
              <div class="navbar-collapse collapse">
      </div>
    </div>
    <div class="row affix-row">
    <?php require_once 'student_sidebar.html'; ?>
    <div class="col-sm-9 col-md-10 affix-content">
      <div class="container">
        <div class="page-header">
          <h3>Student Dashboard</h3>
        </div>
        
        <div class="row">
            <?php
                foreach($Groups as $group) {
                    if(is_null($group)) continue;
                    $gid = $group["ID"];
                    $uid = $ID;
                    echo '
                    <div class="col-sm-3">
                        <div class="tile-progress tile-cyan">
                          <div class="tile-header">
                            <h3 class="snip">' . $group["Title"] . '</h3>
                          </div>
                          <div class="tile-progressbar">
                            <span data-fill="100%" style="width: 100%;"></span>
                          </div>
                          <div class="tile-footer" style="text-align:right">
                            <a href="/class/' . $gid . '" class="btn btn-sm btn-primary tile-edit">View</a>
                            <a href="/api/group/removestudent?id=' . $gid . '&student=' . $uid . '" class="btn btn-sm btn-danger tile-delete">Leave Group</a>
                          </div>
                        </div>
                      </div>';
                }
            ?>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>