<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GroupDesk</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <link href="/views/assets/styles_students_app.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h3 style="font-family: 'Lobster', cursive;text-spacing:2px;margin-top:-5px">GroupDesk</h3></a>

        </div>
              <div class="navbar-collapse collapse">
      </div>
    </div>
    <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
              <h4>
              <?php echo $FirstName;?> <?php echo $LastName;?>
              <br>
              <small>Preferences <span class="caret"></span></small>
              </h4>
              </a>
              <div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Edit Account</a></li>
                  <li><a href="/api/logout">Logout</a></li>
                </ul>
              </div>
            </li>
            <?php
                $index = 1;
                foreach($Groups as $group) {
                    if(is_null($group)) continue;
                    $gid = $group["ID"];
                    $uid = $ID;
                    echo '<li>';
                    echo '<a href="#" data-toggle="collapse" data-target="#toggleDemo' . $index . '" data-parent="#sidenav01" class="collapsed">';
                    echo '<span class="glyphicon glyphicon-th"></span>      ' . $group["Title"] . '<span class="caret pull-right"></span></a>';
                    echo '<div class="collapse" id="toggleDemo' . $index . '" style="height: 0px;">
                            <ul class="nav nav-list">
                                <li><a href="/class/' . $gid . '">View Projects</a></li>
                                <li><a href="/api/group/removestudent?id=' . $gid . '&student=' . $uid . '">Leave Group</a></li>
                            </ul>
                          </div>
                          </li>';
                    $index++;
                }
            ?>
          </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
      </div>
      <div class="col-sm-9 col-md-10 affix-content">
        <div class="container">
          
            <div class="page-header">
      <h3><span class="glyphicon glyphicon-comment"></span> First Period AP US History</h3>
    </div>
       <form action="">
        <textarea class="form-control" name="posttext" style="resize:vertical;"placeholder="Post any questions you have here."></textarea>
        <div style="margin-top:20px; text-align:right;"><a href="#" class="btn btn-success">Post</a></div>
      </form>
      <hr>
      <br>


      <div class="well">
      <legend>
        <h4><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Flavor Flave</b> said:</h4>
      </legend>
      <blockquote style="font-size:16px;">So how does this thing work??? lel</blockquote>

      <div class="well well-sm" style="background: rgba(0,0,0,0.1)">
         <legend>
          <h5><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Lil B</b> responded:</h5>
         </legend>
         <blockquote style="font-size:14px;margin-bottom:0">lol how do you code</blockquote>  
      </div>
      <div class="well well-sm" style="background: rgba(0,0,0,0.1)">
         <legend>
          <h5><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Lil B</b> responded:</h5>
         </legend>
         <blockquote style="font-size:14px;margin-bottom:0">rekt m9</blockquote>  
      </div>
      <form action="">
        <textarea class="form-control" name="posttext" style="resize:vertical;background:rgba(255,255,255,0.4);"placeholder="Respond to this post."></textarea>
        <div style="margin-top:20px; text-align:right;"><a href="#" class="btn btn-sm btn-success">Post Reply</a></div>
      </form>
      </div>
          


      <div class="well">
      <legend>
        <h4><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Flavor Flave</b> said:</h4>
      </legend>
      <blockquote style="font-size:16px;">So how does this thing work??? lel</blockquote>

      <div class="well well-sm" style="background: rgba(0,0,0,0.1)">
         <legend>
          <h5><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Lil B</b> responded:</h5>
         </legend>
         <blockquote style="font-size:14px;margin-bottom:0">lol how do you code</blockquote>  
      </div>
      <div class="well well-sm" style="background: rgba(0,0,0,0.1)">
         <legend>
          <h5><span style="color:gray;font-size:13px;"><i>06/14/14</i>&nbsp;&nbsp;&nbsp;</span><b>Lil B</b> responded:</h5>
         </legend>
         <blockquote style="font-size:14px;margin-bottom:0">rekt m9</blockquote>  
      </div>
      <form action="">
        <textarea class="form-control" name="posttext" style="resize:vertical;background:rgba(255,255,255,0.4);"placeholder="Respond to this post."></textarea>
        <div style="margin-top:20px; text-align:right;"><a href="#" class="btn btn-sm btn-success">Post Reply</a></div>
      </form>
      </div>



        </div>
      </div>
    </div>
  </body>
</html>