<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GroupDesk</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <?php require_once 'head.html'; ?>
    <link href="/views/assets/styles_students_app.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h3 style="font-family: 'Lobster', cursive;text-spacing:2px;margin-top:-5px">GroupDesk</h3></a>

        </div>
              <div class="navbar-collapse collapse">
      </div>
    </div>
    <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
              <h4>
              <?php echo $FirstName;?> <?php echo $LastName;?>
              <br>
              <small>Preferences <span class="caret"></span></small>
              </h4>
              </a>
              <div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Edit Account</a></li>
                  <li><a href="/api/logout">Logout</a></li>
                </ul>
              </div>
            </li>
            <?php
                $index = 1;
                foreach($Groups as $group) {
                    if(is_null($group)) continue;
                    $gid = $group["ID"];
                    $uid = $ID;
                    echo '<li>';
                    echo '<a href="#" data-toggle="collapse" data-target="#toggleDemo' . $index . '" data-parent="#sidenav01" class="collapsed">';
                    echo '<span class="glyphicon glyphicon-th"></span>      ' . $group["Title"] . '<span class="caret pull-right"></span></a>';
                    echo '<div class="collapse" id="toggleDemo' . $index . '" style="height: 0px;">
                            <ul class="nav nav-list">
                                <li><a href="/class/' . $gid . '">View Projects</a></li>
                                <li><a href="/api/group/removestudent?id=' . $gid . '&student=' . $uid . '">Leave Group</a></li>
                            </ul>
                          </div>
                          </li>';
                    $index++;
                }
            ?>
          </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
      </div>
    <div class="col-sm-9 col-md-10 affix-content">
      <div class="container">
        <div class="page-header">
          <h3>Student Dashboard</h3>
        </div>
        
        <div class="row">
            <?php
                foreach($Groups as $group) {
                    if(is_null($group)) continue;
                    $gid = $group["ID"];
                    $uid = $ID;
                    echo '
                    <div class="col-sm-3">
                        <div class="tile-progress tile-cyan">
                          <div class="tile-header">
                            <h3 class="snip">' . $group["Title"] . '</h3>
                          </div>
                          <div class="tile-progressbar">
                            <span data-fill="100%" style="width: 100%;"></span>
                          </div>
                          <div class="tile-footer" style="text-align:right">
                            <a href="#" class="btn btn-sm btn-primary tile-edit">View</a>
                            <a href="/api/group/removestudent?id=' . $gid . '&student=' . $uid . '" class="btn btn-sm btn-danger tile-delete">Leave Group</a>
                          </div>
                        </div>
                      </div>';
                }
            ?>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>