<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GroupDesk</title>
  <!-- Sets initial viewport load and disables zooming  -->
  <?php require_once 'head.html'; ?>
  <link href="/views/assets/styles_teachers_app.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h3 style="font-family: 'Lobster', cursive;text-spacing:2px;margin-top:-5px">GroupDesk</h3></a>

        </div>
              <div class="navbar-collapse collapse">
      </div>
    </div>
  <div class="row affix-row">
    <?php require_once 'teacher_sidebar.html'; ?>
    <div class="col-sm-9 col-md-10 affix-content">
      <div class="container">
        <div class="page-header">
          <h3><?php echo $Group["Title"] . " - Group Code: " . $Group["ID"]; ?></h3>
        </div><div class="row">
      <?php
        $index = 0;
        foreach($Group["Assignments"] as $group) {
            if(is_null($group)) continue;
              if($index % 4 === 0 && $index != 0)
                echo '</div><div class="row">';
              echo '<div class="col-sm-3">
                    <div class="tile-progress tile-cyan">
                        <div class="tile-header">
                          <h3 class="snip">' . $group["Name"] . '</h3>
                        </div>
                        <div class="tile-progressbar">
                          <span data-fill="100%" style="width: 100%;"></span>
                        </div>
                        <div class="tile-footer" style="text-align:right">
                          <a href="/assignment/' . $group["ID"] . '" class="btn btn-sm btn-primary tile-edit">Edit</a>
                          <a href="/api/assignment/delete?id='. $group["ID"] . '" class="btn btn-sm btn-danger tile-delete">Delete</a>
                        </div>
                      </div>
                    </div>';
              $index++;
        }
        if($index==0||($index+1)%4!=0){
          if(($index+1)%4==1){
            echo '</div>';
          }
          echo '<div class="row">';
        }
      ?>
      <a href="/assignment/<?php echo $Group["ID"]; ?>/add">
        <div class="col-sm-3">
          <div class="tile-progress tile-add" style=" box-sizing:border-box;border: dotted 3px rgba(0,0,0,0.3);cursor:pointer ">
            <div class="tile-header tile-plus">
              <h3><span class="glyphicon glyphicon-plus"></span></h3>
              <h4>
                Add new assignment
              </h4>
              <span>Click to create a new assignment to put your students in</span>
            </div>
          </div>
        </div>
      </a>
      <?php
        if($index==0||($index+1)%4!=0){
          echo '</div>';
        }
      ?>
      <div class="row">
        <div class="page-header">
          <h4>Students</h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <?php
            foreach($Group["Students"] as $student){
              echo '<tr>';
              echo '<td>' . $student["LastName"] . ", " . $student["FirstName"] . '</td>';
              echo '<td>' . $student["Email"] . '</td>';
              echo '</tr>';
            }
            ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>