body {
  padding-top: 60px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.main {
  margin-top: -20px;
}

@media (min-width: 768px) {
  .affix-content .container {
    width: 700px;
  }   

  html, body {
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }

  .affix-content .container .page-header {
    margin-top: 0;
  }

  .affix-sidebar {
    padding-right:0; 
    font-size:small;
    padding-left: 0;
    min-height:100%;
    background:#2c3e50;
  }

  .affix-row, .affix-container, .affix-content {
    height: 100%;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;    
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar {
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }

  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px) {
  .affix-content .container {
    width: 600px;
  }

  .affix-content .container .page-header {
    margin-top: 0;
  }  
}

@media (min-width: 992px) {
  .affix-content .container {
    width: 900px;
  }

  .affix-content .container .page-header {
    margin-top: 0;
  }
}

@media (min-width: 1220px) {
  .affix-row {
    overflow: hidden;
  }

  .affix-content {
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header {
    margin-top: 0;
  }

  .affix-content {
    padding-right: 30px;
    padding-left: 30px;
  }  

  .affix-title {
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    padding: 0;
  }

  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }

  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}

.tile {
  background-color: #303641;
  background: #00a65b;
  color: #fff;
  margin-bottom: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tile .tile-header {
  padding: 15px 20px;
  padding-bottom: 40px;
}

.tile .tilebar {
  height: 2px;
  margin: 0;
}

.tile .tilebar span {
  display: block;
  background: #fff;
  width: 0;
  height: 100%;
  -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}

.tile .tile-footer {
  padding: 20px;
  background: #00a08e;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.tile-item {
  background-color: #00b29e;
  color: #fff;
  max-height:190px;
}

.tile-add {
  background-color: #ebebeb;
  color: #000;
  max-height:190px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: dotted 3px #bcbcbc;
  cursor: pointer;
}

.tile-add {
  height:190px;
}

.tile-plus {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.tile-header {
  height: 115px;
}

.tile-header h3{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.powered-by-firepad, .firepad-userlist-heading, .firepad-userlist-name-hint {
  display: none;
}

.firepad-userlist {
    position: relative;
    top: 0;
}

.firepad-userlist-users {
    top: 0;
}

.landing a, .landing a:focus, .landing a:hover {
  color: #fff;
}

.landing .btn-default, .landing .btn-default:hover, .landing .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

html.landing, .landing body {
  height: 100%;
  background: url('/views/assets/background.jpg');
}

.landing body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a0a0a0;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.mastfoot {
  color: #999;
  color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .masthead, .mastfoot, .cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .masthead, .mastfoot, .cover-container {
    width: 700px;
  }
}

.form-signin {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}